<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		<div class="console">
			<nav>
	    		<ul>
	        		<li><a href="http://2600.yokohama">Home</a></li>
	        		<li><a href="/">Blog Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog Entries</a></li>
	    		</ul>
			</nav>
		</div>
			<div class="console">
			
			{{ content }}
			
			</div><!-- /.container -->
		<div class="console">
			<footer>
	    		<ul>
	        		<li><a href="mailto:admin@2600.yokohama">email</a></li>
	        		<li><a href="https://github.com/yok2600">github.com/yok2600</a></li>
				</ul>
			</footer>
		</div>
		</body>
</html>
